# Visual Studio and other
**/**/**/build/
**/**/**/generated/
**/**/**/*.suo
**/*.opensdf
**/*.sdf
**/simulator/msvs/.vs/
**/simulator/msvs/screenshots/
**/ipch
**/Debug

# IAR
/EWARM/**/Debug
/EWARM/**/settings
/EWARM/**/*.dep
/EWARM/**/*.ewt
**/IAR/Debug
**/IAR/settings
**/IAR/*.dep
**/IAR/*.ewt

#Keil
**/**/Keil/binary
**/**/Keil/DebugConfig
**/**/Keil/Flash
**/**/Keil/Listings

#QtCreator
QtCreator/**/*.pro.user
build-qt*
/lab-ccpp-qt-basic-topic/CMakeLists.txt.user