<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ServletA</servlet-name>
  	<display-name>ServletA</display-name>
  	<description></description>
  	<servlet-class>lab.java.servletbasic.ServletA</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletB</servlet-name>
  	<display-name>ServletB</display-name>
  	<description></description>
  	<servlet-class>lab.java.servletbasic.ServletB</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletC</servlet-name>
  	<display-name>ServletC</display-name>
  	<description></description>
  	<servlet-class>lab.java.servletbasic.ServletC</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletIndex</servlet-name>
  	<display-name>ServletIndex</display-name>
  	<description></description>
  	<servlet-class>lab.java.servletbasic.ServletIndex</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletLogin</servlet-name>
  	<display-name>ServletLogin</display-name>
  	<description></description>
  	<servlet-class>lab.java.servletbasic.ServletLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletWelcome</servlet-name>
  	<display-name>ServletWelcome</display-name>
  	<description></description>
  	<servlet-class>lab.java.servletbasic.ServletWelcome</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletA</servlet-name>
  	<url-pattern>/ServletA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletB</servlet-name>
  	<url-pattern>/ServletB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletC</servlet-name>
  	<url-pattern>/ServletC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletIndex</servlet-name>
  	<url-pattern>/ServletIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletLogin</servlet-name>
  	<url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletWelcome</servlet-name>
  	<url-pattern>/ServletWelcome</url-pattern>
  </servlet-mapping>
</web-app>
