<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>Dname</param-name>
		<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
	</context-param>
	<filter>
		<filter-name>FilterA</filter-name>
		<display-name>FilterA</display-name>
		<description></description>
		<filter-class>lab.java.servletbasic.filter.FilterA</filter-class>
		<init-param>
			<param-name>construction</param-name>
			<param-value>no</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterA</filter-name>
		<servlet-name>ServletFilterA</servlet-name>
	</filter-mapping>
	<listener>
		<listener-class>lab.java.servletbasic.MyServletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ServletA</servlet-name>
		<display-name>ServletA</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletA</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletB</servlet-name>
		<display-name>ServletB</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletB</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletC</servlet-name>
		<display-name>ServletC</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletC</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletIndex</servlet-name>
		<display-name>ServletIndex</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletIndex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletLogin</servlet-name>
		<display-name>ServletLogin</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletWelcome</servlet-name>
		<display-name>ServletWelcome</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletWelcome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletD</servlet-name>
		<display-name>ServletD</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletD</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletE</servlet-name>
		<display-name>ServletE</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletE</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletF</servlet-name>
		<display-name>ServletF</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletF</servlet-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
		</init-param>
		<init-param>
			<param-name>driver2</param-name>
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver2</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ServletG</servlet-name>
		<display-name>ServletG</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletG</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletH</servlet-name>
		<display-name>ServletH</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletH</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletPGSQL</servlet-name>
		<display-name>ServletPGSQL</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletPGSQL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletFilterA</servlet-name>
		<display-name>ServletFilterA</display-name>
		<description></description>
		<servlet-class>lab.java.servletbasic.ServletFilterA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletA</servlet-name>
		<url-pattern>/ServletA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletB</servlet-name>
		<url-pattern>/ServletB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletC</servlet-name>
		<url-pattern>/ServletC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletIndex</servlet-name>
		<url-pattern>/ServletIndex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletLogin</servlet-name>
		<url-pattern>/ServletLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletWelcome</servlet-name>
		<url-pattern>/ServletWelcome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletD</servlet-name>
		<url-pattern>/ServletD</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletE</servlet-name>
		<url-pattern>/ServletE</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletF</servlet-name>
		<url-pattern>/ServletF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletG</servlet-name>
		<url-pattern>/ServletG</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletH</servlet-name>
		<url-pattern>/ServletH</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletPGSQL</servlet-name>
		<url-pattern>/ServletPGSQL</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletFilterA</servlet-name>
		<url-pattern>/ServletFilterA</url-pattern>
	</servlet-mapping>
</web-app>
