body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 9999;
  padding: 10px 35px 16px 0;
  cursor: pointer;
}

/* .nav-toggle:focus {
	outline: none;
} */

/* Middle line in hamburg */
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer;
}

/* Top line in hamburg */
.nav-toggle span:before {
  top: -10px;
}

/* Bottom line in hamburg */
.nav-toggle span:after {
	bottom: -10px;
}

.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
}
